@import '../common/styles/sass/variable';

.header{
    background-color: $bgColor;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.9;
    z-index: 2;
    left: 0;
    right: 0;
    height: 9%;
    width: 100%;
    margin: 0;
    @media screen and(max-width: 1024px) {
        background-color: transparent;
}
}