@import './src/common/styles/sass/variable';
@import './src/common/styles/sass/mixins';

.contactsBlock {
  min-height: 100%;
  background-color: $bgSecondColor;

  .contactsContainer {
    flex-direction: column;
    padding-bottom: 30px;

    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      min-width: 450px;
      @media screen and (max-width: 768px) {
        min-width: 286px;
      }

      input:-webkit-autofill {
        border: 1px solid #4a4a4a;
        caret-color: white;
        -webkit-text-fill-color: #fff;
        -webkit-box-shadow: 0 0 0 1000px $bgColor inset;
        transition: background-color 5000s ease-in-out 0s;
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%,
                rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
      }

      .entryField {
        display: flex;
        flex-direction: column;

        .formControl {
          @include form(calc(1.5em + .75rem + 2px), 0 10px);
        }

        .formControlTextarea {
          @include form(153px, 10px 10px 10px 10px)
        }

        .labelStyle {
          @include labelStyle(38px)
        }

        .labelStyleTextarea {
          @include labelStyle(175px)
        }
      }
    }
  }
}






