@import './src/common/styles/sass/variable';
.skillsBlock {
  height: 100%;
  background-color: $bgSecondColor;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; /*для мобил чтобы элементы прыгали друг под друга когда сужалось*/
      padding-top: 20px;
      @media screen and (max-width: 625px) {
        justify-content: center;
      }
    }
  }
}

