.skillsBlock {
    height: 100%;
    background-color: #303030;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /*для мобил чтобы элементы прыгали друг под друга когда сужалось*/
}

.title {
    background-color: #ffdcb6;
}