@import '../common/styles/sass/mixins';
@import '../common/styles/sass/variable';

.mainBlock {
  min-height: 100vh;
  background-color: $bgColor;

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    bottom: 0;
    z-index: 1;
  }

  .mainContainer {
    z-index: 10;
    padding-top: 14%;

    .text {
      max-width: 100%;
      padding-bottom: 20px;
      z-index: 3;
      cursor: default;

      span {
        @include text($textFontFamily, 18px, 1.8);
      }

      h1 {
        @include text($titleFontFamily, 40px, 1.2);
        letter-spacing: 5px;
        margin: 0;
        color: $textColor;
        @media screen and (max-width: 1007px) {
          @include text($textFontFamily, 34px, 1.3);
        }
      }

      span {
        @include text($titleFontFamily, 27px, 1.8);
      }
    }

    .image {
      position: relative;
      z-index: 3;
      width: 300px;
      height: 400px;
      background-color: #cacaca;
    }

    @media screen and (max-width: 1007px) {
      justify-content: center;
    }
  }
}



