.skill{
    width: 250px;
    background-color: #ffeded;
    display: flex;
    flex-direction: column; /*главная координата вертикаль*/
    align-items: center; /*выравнивает по второстипенной оси*/
    text-align: center; /*выравнивает строчный внутри блочных по горизонтали*/
}
.icon{
    width: 60px;
    height: 60px;
    background-color: #560000;
}