.skill {
  width: 250px;
  background-color: #ffeded;
  display: flex;
  flex-direction: column; /*главная координата вертикаль*/
  align-items: center; /*выравнивает по второстипенной оси*/
  text-align: center; /*выравнивает строчный внутри блочных по горизонтали*/
  margin-bottom: 20px;
  position: relative;

  &:hover {
    top:-10px;
    transition: All 0.5s ease;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
  }


  .imgContainer {
    width: 60px;
    height: 60px;
  }
}
