.projectBlock {
    width: 400px;
    border: 1px solid;
}

.imgContainer {
    width: 100%;
    height: 300px;
    /*background-color: #ffafaf;*/
    background-image: url('https://images11.esquire.ru/upload/img_cache/acf/acfbe9979332a4bab9cec3485f678f61_ce_1080x673x0x0_cropped_960x600.jpg');
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.viewBtn {
    border: 1px solid;
    padding: 15px 25px;
    background-color: #9a9f8b;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    margin: 10px 10px;
}

.description {
    margin: 0px 10px;
}