@import './src/common/styles/sass/variable';
@import '../common/styles/sass/mixins';

.nav {
  display: flex;
  justify-content: space-between;
  @include text($textFontFamily, 18px, 1.8);
  flex-wrap: wrap;
  min-width: 35%;
  margin-right: 10%;

  .link {
    text-decoration: none;
    &:hover{
      color: #ffd18b;
      transition: 0.5s all;
    }
  }


  a:visited {
    color: white;
  }
}