@import './src/common/styles/sass/variable';
@import '../common/styles/sass/mixins';

.nav {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  @include text($textFontFamily, 18px, 1.8);
flex-wrap: wrap;


  .link {
    text-decoration: none;
    padding: 0 20px;
  }

  a:visited {
    color: white;
  }
}