.footerBlock {
    background-color: #8c8c8c;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footerSocialContainer {
    display: flex;
    justify-content: space-between;
    min-width: 280px;
}

.title {
    background-color: #838dff;
}

.socialNetwork {
    background-color: #ffa500;
    height: 60px;
    width: 60px;
    border: 1px solid black;
}

.footerContainer {
    flex-direction: column
}