@import './src/common/styles/sass/variable';
.projectsBlock {
  background-color: $bgColor;

  .projectsContainer {
    flex-direction: column;
    flex-wrap: nowrap;

    .projects {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      @media screen and (max-width: 1005px) {
        justify-content: center;
      }
    }
  }
}


