.projectsBlock{
    min-height: 100vh;
    background-color: #a5ffff;
    padding-top: 50px;
}
.projectsContainer{
    flex-direction: column;
}
.title{
    background-color: #ff5252;
}
.projects{
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}